In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df1Lst = [
          [1, 1, 0, 1, 0, 1],
          [1, 1, 1, 1, 1, 0],
          [1, 1, 1, 0, 1, 0],
          [1, 1, 0, 1, 0, 0],
]

df1 = pd.DataFrame(df1Lst, columns=['A', 'B', 'C', 'D', 'E', 'K'])
df1

   A  B  C  D  E  K
0  1  1  0  1  0  1
1  1  1  1  1  1  0
2  1  1  1  0  1  0
3  1  1  0  1  0  0

In [3]:
frq_items = apriori(df1, min_support = 0.6, use_colnames = True)
print(frq_items)
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.8)
print(rules)

   support   itemsets
0     1.00        (A)
1     1.00        (B)
2     0.75        (D)
3     1.00     (B, A)
4     0.75     (D, A)
5     0.75     (B, D)
6     0.75  (B, D, A)
  antecedents consequents  antecedent support  consequent support  support  \
0         (B)         (A)                1.00                 1.0     1.00
1         (A)         (B)                1.00                 1.0     1.00
2         (D)         (A)                0.75                 1.0     0.75
3         (D)         (B)                0.75                 1.0     0.75
4      (B, D)         (A)                0.75                 1.0     0.75
5      (D, A)         (B)                0.75                 1.0     0.75
6         (D)      (B, A)                0.75                 1.0     0.75

   confidence  lift  leverage  conviction
0         1.0   1.0       0.0         inf
1         1.0   1.0       0.0         inf
2         1.0   1.0       0.0         inf
3         1.0   1.0       0.0         inf
4         1.0   1.0       0.0         inf
5         1.0   1.0       0.0         inf
6         1.0   1.0       0.0         inf

Association rules found:

{A} => {B}

{B} => {A}

{D} => {A}

{D} => {B}

{D, B} => {A}

{D, A} => {B}

{D} => {B, A}